@tailwind utilities;

:root {
    --main-font: 'Raleway Variable', Raleway, sans-serif;
    --secondary-font: 'Montserrat Variable', Montserrat, sans-serif;
}

body {
    font-family: var(--main-font), sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}